.container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f5f5f5;
        border: #dd3131;

    }
    
     .box {
        width: 100px;
        height: 100px;
        background-color: #3498db;
        animation: move 1s ease-in-out infinite alternate;
        border: #3498db solid 2px;
    } 